rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{filePath=**} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
